<md-content style="background-color: #DCDCDC;">
  <md-list>
    <md-list-item ng-repeat="message in chat.messages" layout-margin>
	    <div layout="column" layout-align="center center" class="md-caption">
	      <img layout="row" style="margin: 0;" ng-src="{{message.avatar}}" class="md-avatar"></img>
	      <div style="text-align: center; color: #5F5F5F;">
		      {{message.name}}
	      </div>
	    </div>
      <div layout-fill 
	      style="background-color: white; padding: 10px; border-radius: 5px;" 
	      layout-fill>
      	{{message.text}}
      </div>
    </md-list-item>
  </md-list>
</md-content>