<md-sidenav md-component-id="sidebar" md-no-ink
  md-is-locked-open="$mdMedia('gt-xs') && !vm.isMobile" 
  class="md-whiteframe-z2">

  <md-content>
      <md-list>
            <!-- List item #1 -->
        <md-list-item ng-repeat="user in vm.users">
          <md-button flex ng-click="vm.openChat(user)">
            <div layout="row" layout-align="left center">
              <img ng-src="{{user.image}}" class="md-avatar"></img>
              {{user.name}}
            </div>
          </md-button>
        </md-list-item>

      </md-list>
  </md-content>
</md-sidenav>